.home-jmb {
  background: url("../images/home-jmb.png") no-repeat !important;
  background-size: 105% 80% !important;
  height: 622px !important;
  width: 100% !important;
  overflow: hidden !important;
}

.col-section-img {
  width: 310px;
}

.col-section-img-2 {
  width: 301px !important;
}

.col-service-2 {
  margin-top: 200px !important;
}

.btn-started {
  border-radius: 12px !important;
}

.line {
  width: 100px;
  color: #1b9ed9;
  border: 2px solid #1b9ed9;
}

.col-jmb-text {
  margin-top: 100px !important;
}

.col-jmb-img {
  margin-top: 65px !important;
}

.col-service-2 {
  margin-top: 100px !important;
}

@media only screen and (max-width: 510px) {
  .mobile-text-center {
    text-align: center !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .text-jmb {
    font-size: 22px !important;
  }
  .home-jmb {
    background: #1b9ed9 no-repeat !important;
    margin-bottom: 40px;
    height: 440px !important;
    width: 100% !important;
  }
  .jmb-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .col-jmb-text {
    margin-top: 0px !important;
    text-align: center;
  }

  .col-jmb-img {
    margin-top: 0px !important;
  }

  .row-sec2 {
    margin-top: 10px !important;
  }

  .col-service-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-section-img,
  .col-section-img-2 {
    max-width: 250px !important;
    margin: auto;
  }

  .col-section-img-2 {
    max-width: 200px !important;
  }

  .mobile-text-h3 {
    font-size: 22px !important;
  }
  .mobile-text-p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 770px) and (orientation: landscape) {
  .col-jmb-img {
    margin-top: -70px !important;
    transform: scale(0.8) !important;
  }

  .col-jmb-text {
    margin-top: 0px !important;
    text-align: center;
  }
}

@media screen and (max-device-width: 790px) {
  .jmb-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .col-jmb-img {
    transform: scale(1.4) !important;
    margin-top: -10px !important;
  }

  .col-jmb-text {
    margin-top: 40px !important;
    text-align: center;
  }

  .text-jmb {
    font-size: 38px !important;
  }

  .tablet-hide {
    display: none !important;
  }
}
