.home-jmb {
  background: url("../images/home-jmb.png") no-repeat !important;
  background-size: 105% 80% !important;
  height: 95vh !important;
  width: 100% !important;
}

.btn-started {
  border-radius: 12px !important;
}

.line {
  width: 100px;
  color: #1b9ed9;
  border: 2px solid #1b9ed9;
}

.col-jmb-text {
  margin-top: 100px !important;
}

.col-jmb-img {
  margin-top: 65px !important;
}

@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none !important;
  }
  .text-jmb {
    font-size: 22px !important;
  }
  .home-jmb {
    background: #1b9ed9 no-repeat !important;
    margin-bottom: 40px;
    height: 60vh !important;
    width: 100% !important;
  }
  .jmb-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .col-jmb-text {
    margin-top: 0px !important;
    text-align: center;
  }

  .col-jmb-img {
    margin-top: 0px !important;
  }

  .row-sec2 {
    margin-top: -60px !important;
  }
}
